body{
    background-color: #008000bf!important;
    color: #fff!important;
}

.btn-green {
    color:  #008000bf!important;
    background-color:  #fff!important;
    border-color:  #fff!important;
    font-weight: bold;
}