<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <form method="post" action="/iniciar_partida/">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="partida" class="form-control" id="partida" name="partida" aria-describedby="emailHelp"
                placeholder="Digite o ID da partida">
            <small id="emailHelp" class="form-text text-muted">Digite o ID da partida</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>